{% load static%}{% load humanize %}{% load timetemplates %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}?{% now 'U' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}?{% now 'U' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}?{% now 'U' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}?{% now 'U' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}?{% now 'U' %}">
    <title>채팅하기</title>
  </head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    let prevTime2 = null
    
    {% comment %} 시간 포매팅 함수 {% endcomment %}
    function formatTimeAgo(timestamp) {
      const messageTime = new Date(timestamp);
      const now = new Date();
      const year = messageTime.getFullYear();
      const month = (messageTime.getMonth() + 1).toString().padStart(2, '0');
      const day = messageTime.getDate().toString().padStart(2, '0');
      const hours = messageTime.getHours().toString().padStart(2, '0');
      const minutes = messageTime.getMinutes().toString().padStart(2, '0');
    
      if (
        now.getFullYear() === year &&
        now.getMonth() === messageTime.getMonth() &&
        now.getDate() === messageTime.getDate()
      ) {
        // 같은 날인 경우
        const period = hours >= 12 ? '오후' : '오전';
        const formattedHours = hours % 12 || 12;
        return `${period} ${formattedHours}:${minutes}`;
      } else {
        // 다른 날인 경우
        return `${year}-${month}-${day}`;
      }
    }


    function handleIncomingMessage(message, isSentByMe) {
      const date = new Date()
      const messageContainer = document.createElement('div');
      const timeContainer = document.createElement('p');
      const options = {
        hour: '2-digit',
        minute: '2-digit',
        hour12: true, // true로 설정하면 오전/오후 형식으로 표시
      };
      const timeString = date.toLocaleTimeString('ko-kr', options);
      if (isSentByMe) {
          messageContainer.classList.add('message-sent');
          timeContainer.classList.add('s-my-text');
      } else {
          messageContainer.classList.add('message-received');
          timeContainer.classList.add('s-notmy-text');
      }
      messageContainer.textContent = message;
      if (prevTime2 !== null && timeString !== prevTime2) {
        timeContainer.textContent = timeString;
      }
      // 메시지를 표시할 컨테이너에 추가
      const chatMessagesContainer = document.querySelector('.message-container');
      chatMessagesContainer.appendChild(messageContainer);
      chatMessagesContainer.appendChild(timeContainer);
    }

    function updateLastMessage(chatRoomId) {
      // chatRoomId를 사용하여 서버에서 마지막 메시지를 가져오는 AJAX 요청을 보냅니다.
      $.ajax({
        url: '/get_last_message/',
        type: 'GET',
        data: {
          chat_room_id: chatRoomId
        },
        success: function(data) {
          const chatRoomElement = document.querySelector(`.chat-room[data-chat-room-id="${chatRoomId}"]`);

          // 서버로부터 받은 데이터를 사용하여 마지막 메시지를 업데이트합니다.
          const lastMessageElement = chatRoomElement.querySelector('.chat-thumb-text');
          const lastTimeElement = chatRoomElement.querySelector('.set_time');
          const maxLength = 10;
          if (data.lastMessage.length > maxLength) {
            lastMessageElement.textContent = data.lastMessage.slice(0, maxLength) + '...';
          } else {
            lastMessageElement.textContent = data.lastMessage;
          }

          lastTimeElement.textContent = formatTimeAgo(data.lastTime);
          
        },
        error: function() {
          // 오류 처리를 수행할 수 있습니다.
        }
      });
    }

    let chatSocket = null;
    document.addEventListener('DOMContentLoaded', function () {
      
      const searchInput = document.getElementById('chat_search');

      // 입력창에 입력할 때마다 이벤트 리스너를 추가합니다.
      searchInput.addEventListener('input', function () {
        // 입력 내용을 가져옵니다.
        const searchText = this.value.toLowerCase();

        // 채팅방 리스트를 가져오고, 각 채팅방을 순회하면서 검색어와 일치하는지 확인합니다.
        const chatRoomElements = document.querySelectorAll('.chat-room');
        
        chatRoomElements.forEach(function (chatRoomElement) {
          // 채팅방의 제목을 가져옵니다.
          const titleElement = chatRoomElement.querySelector('.posttitle');
          const titleText = titleElement.textContent.toLowerCase();
          
          const nicknameElement = chatRoomElement.querySelector('.n-name');
          const nicknameText = nicknameElement.textContent.toLowerCase();
          // 검색어와 일치하는지 확인합니다.
          if (titleText.includes(searchText) || nicknameText.includes(searchText)) {
            chatRoomElement.style.display = 'block';
          } else {
            chatRoomElement.style.display = 'none';
          }
        });
      });

      
    
      $(document).ready(function() {
        $("#unread-checkbox").change(function() {
            // 체크박스 상태 가져오기
            var isChecked = this.checked;
    
            // 서버에 체크박스 상태를 전송
            if (isChecked) {
              $.ajax({
                url: '/filter_chat_rooms/',
                type: 'GET',
                data: {
                    unread_checkbox: isChecked
                },
                success: function(data) {
                  var chatRoomIdToHide = new Array();
                  data.chatRooms.forEach(function (chatRoomData) {
                    chatRoomIdToHide.push(chatRoomData.id)
                  });
                  // 모든 chat-room 요소를 선택
                  const chatRoomElements = document.querySelectorAll('.chat-room');

                  // chat-room 요소를 숨기거나 보이게 설정
                  chatRoomElements.forEach(function(chatRoomElement) {
                    const dataChatRoomId = chatRoomElement.getAttribute('data-chat-room-id');
                    if (chatRoomIdToHide.includes(parseInt(dataChatRoomId))) {
                      chatRoomElement.style.display = 'block';
                    }
                    else {
                      chatRoomElement.style.display = 'none';
                    }
                  });
                }, 
                error: function() {
                
                  }
              });
            }
            else {
              $.ajax({
                url: '/filter_chat_rooms/',
                type: 'GET',
                data: {
                    unread_checkbox: isChecked
                },
                success: function(data) {
                  var chatRoomIdToShow = new Array();
                  data.originchatRooms.forEach(function (chatRoomData) {
                    chatRoomIdToShow.push(chatRoomData.id)
                  });
                  const chatRoomElements = document.querySelectorAll('.chat-room');
                  // chat-room 요소를 숨기거나 보이게 설정
                  chatRoomElements.forEach(function(chatRoomElement) {
                    const dataChatRoomId = chatRoomElement.getAttribute('data-chat-room-id');
                    if (chatRoomIdToShow.includes(parseInt(dataChatRoomId))) {
                      chatRoomElement.style.display = 'block';
                    }
                  });
                },
                error: function() {
                
                  }
              });
            }
        });
      });


        const chatMessages= document.getElementById('chat-messages');
        function scrollToBottom() {
          chatMessages.scrollTop = chatMessages.scrollHeight;
        }
        function prepareScroll() {
          window.setTimeout(scrollToBottom, 50);
        }

        const aiChatElement = document.getElementById('ai-chat');

        aiChatElement.addEventListener('click', function() {
          createChatroom();
        })

        function createChatroom() {
          if (chatSocket !== null && chatSocket.readyState === WebSocket.OPEN) {
            chatSocket.close();
          }
          const chatRoomId = {{ request.user.id }};
          const chatMessagesContainer = document.getElementById('chat-messages-container');
          const ai_status = document.getElementById('status');
          let prevTime = null;
          $.ajax({
            url: "/create_or_join_chatroom/",
            type: "GET",
            data: { chat_room_id : chatRoomId },
            success: function (data) {
              const content = document.getElementById("chat-messages");
              const ai_name = document.getElementById("product_detail");
              const ai_img = document.querySelector('.selected-thumbnail-box')
    
              ai_name.innerHTML = `<p>AI 챗봇</p>`;
              ai_img.innerHTML = `<img src="{% static "img/icon_aibot.png" %}">`;
              content.innerHTML = '';
              ai_status.innerHTML = '';
              data.ai_messages.forEach(function (messageData) {
                const messageContainer = document.createElement('div');
                const timeContainer = document.createElement('p');
                const date = new Date(messageData.send_at);
                const options = {
                  hour: '2-digit',
                  minute: '2-digit',
                  hour12: true, // true로 설정하면 오전/오후 형식으로 표시
                };
                const timeString = date.toLocaleTimeString('ko-kr', options);
                messageContainer.textContent = messageData.content;
                if (timeString !== prevTime) {
                  timeContainer.textContent = timeString;
                  prevTime = timeString;
                }
                
                if (messageData.sender === {{ request.user.id }}) {
                    messageContainer.classList.add('message-sent');
                    timeContainer.classList.add('s-my-text');
                } else {
                    messageContainer.classList.add('message-received');
                    timeContainer.classList.add('s-notmy-text');
                }
                content.appendChild(messageContainer);
                if (timeContainer.textContent) {
                  content.appendChild(timeContainer);
                }
                
            });
            prepareScroll();
          },
          error: function (error) {
              console.error('Error:', error);
          }
      });
      
      if (chatSocket === null || chatSocket.readyState !== WebSocket.OPEN) {
        chatSocket = new WebSocket(
          `ws://${window.location.host}/ws/chat/ai/${chatRoomId}/`
        );
        var check = true;
        
        chatSocket.onmessage = function(e) {
          const data = JSON.parse(e.data);
          
          if (parseInt(data.isSentByMe) == {{ request.user.id }}) {
            check = true;
          }
          else{
            check = false;
          }
          handleIncomingMessage(data.message, check);
          prepareScroll();
        };
    
        chatSocket.onclose = function(e) {
            console.log('Chat socket closed');
        };
      }
      
    
      document.querySelector('#message').focus();
      document.querySelector('#message').addEventListener('keydown', function (e) {
          if (e.key === 'Enter' || e.keyCode === 13) {  // enter, return
            e.preventDefault();
            const messageInputDom = document.querySelector('#message');
            const message = messageInputDom.value.trim();
            if (message) {
              document.querySelector('#chat-message-submit').click();
            }
          }
        });
    
      document.querySelector('#chat-message-submit').onclick = function(e) {
          e.preventDefault();
          const messageInputDom = document.querySelector('#message');
          const message = messageInputDom.value.trim();
          if (message) {
            chatSocket.send(JSON.stringify({
              'message': message
            }));
          }
          
          messageInputDom.value = '';
          prepareScroll();
      };
    }

        // 클릭 이벤트 핸들러 등록
        document.querySelectorAll('.chat-room').forEach(function (chatRoomElement) {
            chatRoomElement.addEventListener('click', function () {
                handleChatRoomClick(this);
            });
        });

        function handleChatRoomClick(chatRoomElement) {
            if (chatSocket !== null && chatSocket.readyState === WebSocket.OPEN) {
              chatSocket.close();
            }
            const chatRoomId = chatRoomElement.getAttribute('data-chat-room-id');
            const chatMessagesContainer = document.getElementById('chat-messages-container');
            // AJAX 요청 (GET)
            $.ajax({
                url: "/get_contact_info/",
                type: "GET",
                data: { chat_room_id: chatRoomId },
                success: function (data) {
                    const contact = document.getElementById("temp-info");
                    const content = document.getElementById("chat-messages");
                    const product = document.getElementById("product_detail");
                    const product_status = document.getElementById("status");
                    const product_img = document.querySelector('.selected-thumbnail-box')

                    let prevTime = null;
                    // 서버로부터 받은 데이터를 화면에 표시
                    contact.innerHTML = `<p>${data.contactInfo}</p>`;
                    product.innerHTML = `<p>${data.titleInfo}</p>
                    <p class="bold">${data.priceInfo}</p>`;
                    product_status.innerHTML = `<p>${data.statusInfo}</p>`
                    product_img.innerHTML = `<img src="${data.productimgInfo}">`
                    content.innerHTML = '';
                    data.messages.forEach(function (messageData) {
                      const messageContainer = document.createElement('div');
                      const timeContainer = document.createElement('p');
                      const date = new Date(messageData.send_at);
                      const options = {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: true, // true로 설정하면 오전/오후 형식으로 표시
                      };
                      const timeString = date.toLocaleTimeString('ko-kr', options);
                      messageContainer.textContent = messageData.content;
                      if (timeString !== prevTime) {
                        timeContainer.textContent = timeString;
                        prevTime = timeString;
                      }
                      
                      if (messageData.sender === {{ request.user.id }}) {
                          messageContainer.classList.add('message-sent');
                          timeContainer.classList.add('s-my-text');
                      } else {
                          messageContainer.classList.add('message-received');
                          timeContainer.classList.add('s-notmy-text');
                      }
                      content.appendChild(messageContainer);
                      if (timeContainer.textContent) {
                        content.appendChild(timeContainer);
                      }
                      
                  });
                  prepareScroll();
                },
                error: function (error) {
                    console.error('Error:', error);
                }
            });
            
            if (chatSocket === null || chatSocket.readyState !== WebSocket.OPEN) {
              chatSocket = new WebSocket(
                `ws://${window.location.host}/ws/chat/${chatRoomId}/`
              );
              var check = true;
              
              chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                
                if (data.isSentByMe == {{ request.user.id }}) {
                  check = true;
                }
                else{
                  check = false;
                }
                handleIncomingMessage(data.message, check);
                updateLastMessage(chatRoomId, data.message)
                prepareScroll();
              };
      
              chatSocket.onclose = function(e) {
                  console.log('Chat socket closed');
              };
            }
            
    
            document.querySelector('#message').focus();
            document.querySelector('#message').addEventListener('keydown', function (e) {
                if (e.key === 'Enter' || e.keyCode === 13) {  // enter, return
                  e.preventDefault();
                  const messageInputDom = document.querySelector('#message');
                  const message = messageInputDom.value.trim();
                  if (message) {
                    document.querySelector('#chat-message-submit').click();
                  }
                }
              });
    
            document.querySelector('#chat-message-submit').onclick = function(e) {
                e.preventDefault();
                const messageInputDom = document.querySelector('#message');
                const message = messageInputDom.value.trim();
                if (message) {
                  chatSocket.send(JSON.stringify({
                    'message': message
                  }));
                }
                
                messageInputDom.value = '';
                prepareScroll();
            };
        }
    });
  </script>
  <body class="back-ye">
    {% include 'daangn_app/nav.html' %}
    
    <div class="content-box">
      <div class="container column">
        <div>
          <input type="text" placeholder="채팅, 닉네임 검색" id="chat_search">
        </div>
        <div class="post-box flex-box">

          <!-- 채팅선택창 -->
          <div class="chat-select-container">
            <div class="flex-box">

              <!-- 아이디및 체크박스 -->
              <div class="id-box flex-box between">
                {{ request.user.nickname }}
                <div>
                  <label>
                    안읽은 메세지만 보기
                    <input type="checkbox" name="unread-checkbox" id="unread-checkbox">
                  </label>
                </div>
              </div>
            </div>

            <!-- 채팅 리스트 -->
            <div class="chat-list-box flex-box column">
              <!-- 봇 -->
              
              <div class="chat-box flex-box" id="ai-chat" style="cursor: pointer;">
                <div class="ai-profile">
                  <img src="{% static 'img/icon_aibot.png'%}" alt="">
                </div>
                <div>
                  <p class="bold">AI 챗봇</p>
                  <p class="chat-thumb-text">궁금한 내용을 물어보세요!</p>
                </div>
              </div>
             
              <!-- 채팅방리스트 -->
              <div class='chat-real-select-container'>
                {% for chat_room in chat_rooms %}
                <a class="chat-room" data-chat-room-id="{{ chat_room.id }}">
                    <div class="flex-box chat-box between">
                      <div class="human-profile">
                        {% if chat_room.post_id.author.user_img %}
                          <img src="{{ chat_room.post_id.author.user_img.url }}" alt="">
                        {% elif chat_room.post_id.author.user_img.url == null %}
                          <img src="{% static 'img/basicuserimg.png' %}">
                        {% else %}
                          <img src="{% static 'img/basicuserimg.png' %}">
                        {% endif %}
                        
                      </div>
                        <div>
                            <div class="flex-box">
                                <p class="bold n-name">{{ chat_room.post_id.author.nickname }}</p>
                                <p class="s-text">{{ chat_room.post_id.wt_location }}</p>
                                <p class="s-text set_time">{{ chat_room.created_at|custom_timesince }}</p>
                                <p class='posttitle' style="display:none;"> {{ chat_room.post_id.title }}</p>
                            </div>
                            <p class="chat-thumb-text">{{ chat_room.chatmessage_set.last.content }}</p>
                        </div>
                        <div class="thumbnail-box">
                            <img src="{{ chat_room.post_id.postimage_set.first.image.url }}" alt="">
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% for receive_chat_room in receive_chat_rooms %}
                <a class="chat-room" data-chat-room-id="{{ receive_chat_room.id }}">
                    <div class="flex-box chat-box between">
                      <div class="human-profile">
                        {% if receive_chat_room.post_id.author.user_img %}
                          <img src="{{ receive_chat_room.post_id.author.user_img.url }}" alt="">
                        {% elif receive_chat_room.post_id.author.user_img.url == null %}
                          <img src="{% static 'img/basicuserimg.png' %}">
                        {% else %}
                          <img src="{% static 'img/basicuserimg.png' %}">
                        {% endif %}
                        
                      </div>
                        <div>
                            <div class="flex-box">
                                <p class="bold n-name">{{ receive_chat_room.user.nickname }}</p>
                                <p class="s-text">{{ receive_chat_room.post_id.wt_location }}</p>
                                <p class="s-text set_time">{{ receive_chat_room.created_at|custom_timesince }}</p>
                                <p class='posttitle' style="display:none;"> {{ receive_chat_room.post_id.title }}</p>
                            </div>
                            <p class="chat-thumb-text">{{ receive_chat_room.chatmessage_set.last.content }}</p>
                        </div>
                        <div class="thumbnail-box">
                            <img src="{{ receive_chat_room.post_id.postimage_set.first.image.url }}" alt="">
                        </div>
                    </div>
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- 채팅창-->
          <div class="chat-main-container">
            <div>
              <div class="contact-info flex-box" id='temp-info'>
                
              </div>
      
              <!--물품정보-->
              <div class="goods-box flex-box between">
                <div class="flex-box">
                  <div class="selected-thumbnail-box">
                    
                  </div>
                  <div class="goods-info-box" id='product_detail'>
                  </div>
                </div>
                <div id='status'></div>
              </div>
      
              <!--채팅창 메인-->
              <div class="chat-container">
                <div>
                  <div id="chat-messages" class="message-container">
                  </div>
                </div>
              </div>
            </div>
      
            <form class="chat-input" method="submit">
              {% csrf_token %}
              <textarea name="message" id="message" cols="30" rows="10" placeholder="메세지를 입력해주세요"></textarea>
              <div>
                <input id="chat-message-submit" type="button" value="전송">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% include 'daangn_app/footer.html' %}

  </body>

</html>
