{% load static%}{% load humanize %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/test.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <title>채팅하기</title>
  </head>

  <script>
    const chatRooms = document.querySelectorAll('.chat-room');
    const chatMessagesContainer = document.getElementById('chat-messages-container'); // 채팅 메시지를 표시할 컨테이너

    chatRooms.forEach(chatRoom => {
        chatRoom.addEventListener('click', function () {
            const chatRoomId = this.getAttribute('data-chat-room-id');

            // 여기서 웹소켓을 사용하여 chatRoomId에 해당하는 채팅 메시지를 가져옵니다.
            // 가져온 메시지를 chatMessagesContainer에 표시합니다.
        });
    });
    const chatSocket = new WebSocket(`ws://your_server/ws/chat/${chatRoomId}/`);

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        // 서버로부터 받은 메시지 처리
    };

    chatSocket.onclose = function (e) {
        // WebSocket 연결이 닫힐 때 처리
    };
  </script>

  <body class="back-ye">
    {% include 'daangn_app/nav.html' %}
    <div class="content-box">
      <div class="container column">
        <div class="post-box flex-box">

          <!-- 채팅선택창 -->
          <div class="chat-select-container">
            <div class="flex-box">

              <!-- 아이디및 체크박스 -->
              <div class="id-box flex-box between">
                아이디
                <div>
                  <label>
                    안읽은 메세지만 보기
                    <input type="checkbox" name="" id="">
                  </label>
                </div>
              </div>
            </div>

            <!-- 채팅 리스트 -->
            <div class="chat-list-box flex-box column">
              <!-- 봇 -->
              {% include 'daangn_app/chat_list.html' %}
            </div>
          </div>
          <!-- 채팅창-->
          <div class="chat-main-container">
            {% include 'daangn_app/chat_messages.html' %}
          </div>
        </div>
      </div>
    </div>
    {% include 'daangn_app/footer.html' %}

  </body>

</html>
