<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<body>
    <div>
        <div class="contact-info flex-box">
          상대방아이디
          <div class="temp">
            36.9도
          </div>
        </div>

        <!--물품정보-->
        <div class="goods-box flex-box between">
          <div class="flex-box">
            <div class="selected-thumbnail-box">
              <img src="" alt="">
            </div>
            <div class="goods-info-box">
              <p>{{ post_title }}</p>
              <p class="bold">{{ post_price }}</p>
            </div>
          </div>
          <button>거래완료</button>
        </div>

        <!--채팅창 메인-->
        <div class="chat-container">
          <div id="chat-messages"></div>
        </div>
      </div>

      <form class="chat-input" method="POST">
        {% csrf_token %}
        <textarea name="message" id="message" cols="30" rows="10" placeholder="메세지를 입력해주세요"></textarea>
        <div>
          <button>전송</button>
        </div>
      </form>
</body>

</html>