{% load static%}{% load humanize %}{% load timetemplates %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="chat-box flex-box">
        <div class="ai-profile">
          <img src="{% static 'img/icon_aibot.png'%}" alt="">
        </div>
        <div>
          <p class="bold">AI 챗봇</p>
          <p class="chat-thumb-text">궁금한 내용을 물어보세요!</p>
        </div>
      </div>
      <!-- 채팅방리스트 -->
      
    {% for chat_room in chat_rooms %}
    <a data-chat-room-id="{{ chat_room.id }}">
        <div class="flex-box chat-box between">
            <div>
                <div class="flex-box">
                <p class="bold">{{ chat_room.post_id.author.email }}</p>
                <p class="s-text">{{ chat_room.post_id.wt_location }}</p>
                <p class="s-text">{{ chat_room.created_at|custom_timesince }}</p>
                </div>
                <p class="chat-thumb-text">{{chat_room.post_id.title}}</p>
            </div>
            <div class="thumbnail-box">
                <img src="" alt="">
            </div>
        </div>
    </a>
        
    {% endfor %}
        
      
</body>
</html>