{% load static%}{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="chat-box flex-box">
        <div class="ai-profile">
          <img src="{% static 'img/icon_aibot.png'%}" alt="">
        </div>
        <div>
          <p class="bold">AI 챗봇</p>
          <p class="chat-thumb-text">궁금한 내용을 물어보세요!</p>
        </div>
      </div>
      <!-- 채팅방리스트 -->
      <div class="flex-box chat-box between">
        {% for chat_room in chat_rooms %}
        <div>
            <div class="flex-box">
              <p class="bold">{{ chat_room.user.nickname }}</p>
              <p class="s-text">{{ chat_room.user.location }}</p>
              <p class="s-text">3주전</p>
            </div>
            <p class="chat-thumb-text">거래 잘 하셨나요? 거래한 이웃..</p>
        </div>
        <div class="thumbnail-box">
            <img src="" alt="">
        </div>
        
        {% endfor %}
        
      </div>
</body>
</html>