{% load static%}{% load humanize %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/trade_post.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
    <title>중고거래 상세보기</title>
  </head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>

    {% comment %} 채팅하기 버튼을 누르면 채팅방이 추가되게끔 하는 js {% endcomment %}
    $(document).ready(function() {
      $("#create-chat-button").click(function(event) {
        event.preventDefault(); // 기본 이벤트(폼 제출) 방지
    
        var postId = window.location.pathname.split('/').pop();
    
        // Ajax 요청으로 채팅방 생성
        $.ajax({
          type: "POST",
          url: "/create_chat_room/", // 채팅방 생성 뷰의 URL
          data: {
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
            post_id: postId
          },
          success: function(data) {
            // 채팅방 생성이 성공하면 리디렉션 등을 수행
            window.location.href = "/chat"; // 생성된 채팅방 페이지로 이동
          },
          error: function(error) {
            console.error("Error:", error);
            alert("채팅방 생성 중 오류가 발생했습니다.");
          }
        });
      });
    });
  </script>
  <body>
    {% include 'daangn_app/nav.html' %}
    <div class="content-box">
      <div class="container column">
        <div class="post-box">
          {% block content %}
            <img src="{{ post.images.url }}" alt="{{ post.title }}" class="block-box">
            <div class="flex-box between info-button-box">
              <div class="user-info">
                <h6>{{ post.author.email }}</h6>
                <p>{{ post.author.userinfo.location }}</p>
              </div>
              {% if request.user.email == post.author.email %}
                <div class="flex-box button-box">
                  <a href="{% url 'daangn_app:edit' post.id %}">
                    <button class="grey">수정하기</button>
                  </a>
                  <button class="orange">채팅보기</button>
                  <form method="post" action="{% url 'daangn_app:delete_post' post.id %}">
                    {% csrf_token %}
                    <button type="submit" class="red">삭제하기</button>
                  </form>
                </div>
              {% else %}
                <div class="button-box">
                  <form id="create-chat-form">
                    {% csrf_token %}
                    <button id="create-chat-button" class="orange">채팅하기</button>
                  </form>
                </div>
              {% endif %}
            </div>
            <hr class="line">
            <div class="post-info-box">
              <div class="flex-box between">
                <h3>{{ post.title }}</h3>
                <h3>{{ post.price |intcomma}}
                  원</h3>
              </div>
              <p>{{ post.description }}</p>
              <div class="location-views-box flex-box between">
                <p>희망 거래장소 |
                  {{ post.wt_location }}</p>
                <p>조회수
                  {{ post.view_count}}</p>
              </div>
            </div>
          {% endblock %}
        </div>
      </div>
    </div>
    {% include 'daangn_app/footer.html' %}

</body>

</html>