{% load custom_filter %}
{% load static %}{% load humanize %}
<!DOCTYPE html>
<html>

<head>
  <title>거래 글쓰기</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/write.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
</head>

<body>
  {% include 'daangn_app/nav.html' %}
  <div class="content-box">
    <div class="container">

      {% block content %}
      <div class="about-trade">
        <div class="container">
          <form class="write-box" method="POST"
            action="{% if post %}{% url 'daangn_app:edit' post.id %}{% else %}{% url 'daangn_app:create_form' %}{% endif %}"
            enctype="multipart/form-data">
            {% csrf_token %}

            <script>
              let postPk = {% if post %}{ { post.id } } {% else %} null{% endif %};
            </script>

            <div class="flex-box">
              <label class="img-upload">
                <label for="images" class="image-upload-button">
                </label>
                <input type="file" name="images" id="images" accept="image/*" style="display: none;" multiple
                  onchange="previewImage(event);">
                <img src="{% static 'img/icon_photo.png' %}" alt="이미지 미리보기" id="imagePreview">
              </label>
              <div>
                <div class="flex-box column baseline title-box">
                  <label for="title">글 제목</label>
                  <input type="text" name="title" placeholder="글 제목" required="required"
                    value="{% if post %}{{ post.title }}{% endif %}">
                  <label for="price">가격</label>
                  <input type="text" name="price" placeholder="가격" required="required"
                    value="{% if post %}{{ post.price }}{% endif %}">
                </div>
              </div>
            </div>
            <div class="full-box">
              <label for="description" class="block-box">물품 설명</label>
              <textarea name="description" required="required">{% if post %}{{ post.description }}{% endif %}</textarea>
            </div>

            <!-- category 필드 -->
            <label for="category">카테고리:</label>
            <input type="text" name="category" id="category" required>

            <!-- wt_location 필드 -->
            <label for="wt_location">판매 원하는 장소:</label>
            <input type="text" name="wt_location" id="wt_location" required>

            <div class="submit-button-box">
              {% if post %}
              <button type="submit">수정하기</button>
              {% else %}
              <button type="submit" onclick="uploadImage()">전송</button>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
      {% endblock %}

      <script type="text/javascript" src="{% static 'js/write.js' %}"></script>

    </div>
  </div>
</body>

</html>